input[type=text], select, textarea {
    width: 50%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  
  input[type=submit] {
    background-color: red;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: right;
    width: 50%;
  }
  
  .col-25 {
    width: 25%;
  }
  
  .col-75 {
    width: 75%;
  }

  .col-25, .col-75{
    float: left;
    margin-top: 6px;

  }
  

  .row:after {
    content: "";
    display: table;
    clear: both;
  }

   section{
       display: flex;
   }
   section article{
       margin: 50px;
   }

   .info{
       font-size: 14px;
   }
   .info img{
       width: 20px;
       height: 20px;
   }
  
   
  